pandas==1.4.2
python-dateutil==2.8.1

colorama~=0.4.4
pip~=21.2.4
distro~=1.7.0
wheel~=0.37.0
cryptography~=36.0.2
docutils~=0.18.1
toml~=0.10.2
PyYAML~=6.0
setuptools~=61.2.0.post0
wcwidth~=0.2.5
six~=1.16.0
identify~=2.5.1
urllib3~=1.26.9
simplejson~=3.17.6
cfgv~=3.3.1
future~=0.18.2
virtualenv~=20.14.0
distlib~=0.3.4
filelock~=3.6.0
platformdirs~=2.5.2